<style>
    .footer{
        position: relative;
        bottom: 0;
        width: 100%;
        height: 60px; 
        line-height: 60px;
        background-color:  darkblue ;
    }  
</style>
<center>
    <footer class="footer bg-black">
        <div class="container">
            <span style="font-weight: bold; color: white;">Colegio Patria @derechos reservados 2024</span>
        </div>
    </footer>
</center>
</body>
</html>
