<%- include('partials/header.ejs') %>
<%- include('partials/nav.ejs') %>

<% 
                let incrementoPorcentaje = 0;
                let pagoTotal = 0;
                let impuesto = 0;
                let bono = 0;
                let aPagar = 0;

                switch (nivel) {
                    case "1":
                        incrementoPorcentaje = 0.3;
                        break;
                    case "2":
                        incrementoPorcentaje = 0.5;
                        break;
                    case "3":
                        incrementoPorcentaje = 1;
                        break;
                    default:
                        break;
                }

                const pagoBase = pagoHrBase * (incrementoPorcentaje + 1);

                pagoTotal = pagoBase * hrsImpar;

                impuesto = pagoTotal * 0.16;

                switch (nHijos) {
                    case "NoTiene":
                        bono = 0;
                        break;
                    case "1o2":
                        bono = pagoTotal * 0.05;
                        break;
                    case "3a5":
                        bono = pagoTotal * 0.1;
                        break;
                    case "5mas":
                        bono = pagoTotal * 0.2;
                        break;
                    default:
                        break;
                }
                aPagar = pagoTotal - impuesto + bono;

                pagoTotal = pagoTotal.toFixed(2);
                bono = bono.toFixed(2);
                impuesto = impuesto.toFixed(2);
                aPagar = aPagar.toFixed(2);


%>

<style>
    .variable {
            font-weight: bold;
            color: #003369;
        }
    .resultados {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            align-items: center;
            margin: 20px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: bold;
        }
        h3{
            font-family: Arial, Helvetica, sans-serif;
        }
</style>
<center>
    <section class="resultados">
        <h4>Detalles de Pago</h4><br>
        <p>Pago por Hora Impartida: <span class="variable">$ <%= pagoTotal %></span></p>
        <p>Pago por Bono: <span class="variable">$ <%= bono %></span></p>
        <p>Impuesto: <span class="variable">$ <%= impuesto %></span></p>
        <p>Total a Pagar: <span class="variable">$ <%= aPagar %></span></p>
    </section>
</center>

<%- include('partials/footer.ejs') %>
